<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>The Fish Tank</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->    
    <link href="~/Content/mdb.min.css" rel="stylesheet" />
    <!-- Your custom styles (optional) -->    
    <link href="~/Content/style.min.css" rel="stylesheet" />
</head>

<body>

    <!--Main Navigation-->

    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container">

                <!-- Brand -->
                <a class="navbar-brand waves-effect" href="@Url.Action("Index","Home")" >
                    <strong class="blue-text">The Fish Tank</strong>
                </a>

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link waves-effect" href="@Url.Action("Index","Home")">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link waves-effect" href="#" >About</a>
                        </li>*@
                        @*<li class="nav-item">
                            <a class="nav-link waves-effect" href=""
                        </li>*@

                        @if (User.IsInRole("Admin"))
                        {
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="@Url.Action("Index", "BlogPosts")" >List of Posts</a>
                        </li>
                        }

                    </ul>


                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons"> 
                        <li>
                            @using(Html.BeginForm("Index", "Home", FormMethod.Get, htmlAttributes: new { @class = "form" }))
                            {
                                <div class="controls controls-row search-row">
                                    <input id="searchStr" name="searchStr" class="input-block-level" type="text" placeholder="Search" />
                                    <button id="searchStr" name="searchStr" class="btn btn-primary" type="submit">
                                        <i class="icon-search">Submit</i>
                                    </button>
                                </div>
                            }
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Login", "Account")" class="nav-link border border-light rounded waves-effect">
                                Login
                            </a>
                        </li>
                    </ul>



                </div>

            </div>
        </nav>
        <!-- Navbar -->

    </header>

    <!--Main Navigation-->
    <!--Main layout-->
    <main class="mt-5 pt-5">
        <div class="container">
            @RenderBody()
            </div>
        </main>
            <!--Main layout-->
            <!--Footer-->
            <footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">

                <!--Call to action-->
                <!--/.Call to action-->

                <hr class="my-4">

                <!-- Social icons -->
                <div class="pb-4">

                    <a href="//github.com/Justin-Fisher495" target="_blank">
                        <i class="fab fa-github mr-3"></i>
                    </a>

                    <a href="//codepen.io/justin-fisher" target="_blank">
                        <i class="fab fa-codepen mr-3"></i>
                    </a>
                </div>
                <!-- Social icons -->
                <!--Copyright-->
                <div class="footer-copyright py-3">
                    © 2019 Copyright:
                    <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> MDBootstrap.com <p>Modified By Justin Fisher</p></a>
                </div>
                <!--/.Copyright-->

            </footer>
            <!--/.Footer-->
            <!-- SCRIPTS -->
            <!-- JQuery -->

            <script src="~/Scripts/jquery-3.4.1.min.js"></script>
            <!-- Bootstrap tooltips -->

            <script src="~/Scripts/popper.min.js"></script>
            <!-- Bootstrap core JavaScript -->

            <script src="~/Scripts/bootstrap.min.js"></script>
            <!-- MDB core JavaScript -->

            <script src="~/Scripts/mdb.min.js"></script>
            <!-- Initializations -->
            <script type="text/javascript">
                // Animations initialization
                new WOW().init();
            </script>

            <script src="~/Scripts/tinymce/tinymce.min.js"></script>
            <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>


            <script>
                $(function () {
                    tinymce.init({
                        selector: '#BlogPostBody'
                    });
                });
            </script>






            @RenderSection("scripts", required: false)





</body>

</html>
